.demo,.demo1,.demo2{
height:35px;
width:300px;
background:yellow;
color:black;
}


.demo1{
background:green;
}

.demo2{
background:pink;
}

.demo2:hover{
width:800px;
background:red;


}
.tgt{
background:green;
}

p.baba {
background:green;
height:200px;
	
	
}

.img-resize{
	height:186px;
	width:300px;
	
}

.table-size{
	height:200px;
	width:400px;
	background:yellow;
	padding:100px;
	border:2px solid black;
	border-radius:20px;
	margin-left:350px;
	
	
}

.table-col{
	height:20px;
	width:30px;
	border:1 px solid black;
	background:pink;
	
}

.div_class1,.div_class2,.div_class3,.div_class{
	height:10%;
	width:24%;
	background:red;
	color:white;
	border:1px solid black;
	float:left;
	margin-bottom:50px;
	
}

.div_class2{
	background:blue;
	
}


.div_class3{
	background:pink;
}

.div_class4{
background:green;

}
#demo{
background:color;

}

body {
  background-color: lightblue;
}

p {
	 background-color: pink;
}

h1 {
  color: blue;
  text-align: center;
  font-family:Arial;
  font-size: 20px;
  opacity:1.0;
}

.parent{
height:300px;
width:800px	;
background:yellow;
	
}

.child1, .child2 , .child3, .child4{
height:300px;
width:200px	;
background:red;
float:left;
	
	
}

.child2{
	background:green;

}

.child3{
background:blue;
}
	
	
.child4{
background:pink;
	

}
	
	
	a:link {
  color: yellow;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
.display-demo {
	height:100px;
	width:200px;
	background:green;
	color:white;
	border:1px solid black;
	border-radius:2px;
	text-align:center;
	padding:40px;
	margin:30px;
	font-size:20px;
	font-family:feris;
	border-style:inset;
	outline-style:dotted;
	visibility:hidden;
	
}
.position-fixed:{
	height:100px;
	width:200px;
	background:pink;
}
.container{
	height:200px;
	width:400px;
	background:red;
}